*{
    margin: 0;
    padding: 0;
}
html{
    background-image: url(../Picture/bg.jpg);
    background-size: cover;
}
/* form */
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    padding-bottom: 80px;
}
.container .content {
    width: 700px;
    text-align: center;
}

.container .content h3{
    font-size: 5vh;
    text-transform: uppercase;
}
.container .content p{
    font-size: 20px;
    padding: 10px 0;
}
.container .content p span{
    color: crimson;
}
.container .content a{
    text-decoration: none;
}
.container .content .logout {
    display: inline-block;
    margin-top: 10px;
    background: #000;
    color: #fff;
    padding: 10px 35px;
    font-size: 20px;
}
.container .content .logout:hover{
    background: crimson;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    padding-bottom: 80px;
}
.form-container form{
    text-align: center;
    width: 500px;
    background: #fff;
    border: 2px solid #000;
    padding: 20px;
}
.form-container form a{
    color: #000;
}
.form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.form-container form .form-group .box{
    width: 90%;
    padding: 12px 23px;
    font-size: 20px;
    border: 2px solid #000;
    margin: 10px 0;
}
.form-container form .form-group i{
    font-size: 120%;
    position: absolute;
    left: 66%;
    margin-top: 2%;
    cursor: pointer;
}

.form-container form .form-btn{
    display: block;
    margin: 10px 0;
    background: #000;
    color: #fff;
    padding: 10px 35px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}
.form-container form .form-btn:hover{
    background: crimson;
}
.form-container form p{
    font-size: 20px;
    padding-top: 10px;
}
.form-container form p a{
    text-decoration: none;
    color: crimson;
}
.form-container form .error-msg{
    display: block;
    margin: 10px 0;
    background: crimson;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}
/* header */
.header{
    border-bottom: 1px solid #000;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    position: fixed;
}
.header ul li{
    list-style: none;
    float: left;
    
    
}
.header ul .li-img{
    width: 30%;
}
.header ul li #logo{
    width: 40%;
    padding: 2.5% 5%; 
}
.header ul .li-sb{
    width: 45%;
}
.header ul .li-sb form{
    padding: 5%;
}
.header ul .li-sb form .input{
    text-align: center;
    width: 85%;
    height: 30px;
    font-size: 15px;
    border: transparent;
    border-bottom: 1px solid #000;
}
.header ul .li-sb form .input::placeholder{
    color: #464444;
    text-align: start;
}
.header ul .li-sb form .find{
    border-radius: 30px;
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
    height: 32px;
    width: 10%;
}
.header ul .li-sb form .find:hover{
    background: #404066;
    color: #fff;
}
.header ul .inc{
    width: 20%;
    margin: 2%;
}
.header ul .inc a{
    cursor: pointer;
    padding: 15px;
    float: right;
    color: #000;
    text-decoration: none;
    font:  sans-serif;
}
.header ul .inc a i{
    margin-right: 10px;
    border-radius: 30px;
    width: 14%;
}
.header ul li .clear{
    width: 1%;
    clear: both;
}
/* main */
/* start */
.sac{
    margin: 0;
    height: 100px;
}
/* start */
.danhmuc{
    background: linear-gradient(to right, rgb(199, 97, 190),rgb(243, 67, 67));
    height: 155px;
    width: 96%;
    margin: 50px 2% 0 2%;
    border-radius: 30px;
}
.danhmuc .clear-dm{
    height: 46px;
}
.danhmuc .clear-dm p{
    margin: 0 30px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
.danhmuc a{
    text-decoration: none;
}
.danhmuc .htdm{
    /* background: linear-gradient(to bottom, rgb(212, 247, 19),rgb(245, 32, 32)); */
    background: #fff;
    height: 100px;
    width: 10%;
    margin: 0;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    margin-right: 0px;
}
.danhmuc .htdm:hover{
    background: #f1f1f1;
}
.danhmuc .htdm .sh{
    height: 40px;
}
.danhmuc .htdm p{
    text-align: center;
    color: #000;
    margin: 0;  
}
.food{
    height: 800px;
    width: 96%;
    margin: 2%;
    background: linear-gradient(to right, rgb(230, 252, 105),rgb(240, 156, 0));
    border-radius: 30px;
}
.food .list-food ul{
    list-style: none;
}
.food .list-food ul li{
    background: #fff;
    width: 15%;
    border: 1px solid #000;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
}
.food .list-food ul li:hover{
    background: #777575;
}
.food .list-food ul li a{
    text-decoration: none;
}
.food .list-food ul li a img{
    width: 100%;
    height: 274px;
    border: 1px solid #000;
}
.food .list-food ul li a p{
    text-align: center;
    color: #000;
    font-size: 1.4rem;
}
.food .clear{
    clear: both;
}
.food .page{
    padding: 33px;
    text-align: center;
}
.food .page a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    padding: 1%;
    margin: 0;
    border: 1px solid #000;
    background-color: #fff;
}
.food .page a:hover{
    background-color: #000;
    color: #fff;
}